  <div class="container">
    <div class="row">
      <div class="col-md-4 ">
        <div class="navbar-header">
              <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
                  <span class="glyphicon glyphicon-align-justify"></span>
              </button>
                <a class="navbar-brand logo" href="#"><img src="./images/logo_sm.png" class="img-responsive"></a>
          </div>
      </div>
      <div class="col-md-8">
        <nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
          <ul class="nav navbar-nav navbar-right menu">
              <li><a href="#top" class="page-scroll active">Home</a></li>
              <li><a href="#how" class="page-scroll">How it Works</a></li>
              <li><a href="#who" class="page-scroll">Meet the Team</a></li>
              <li><a href="/timer" class="page-scroll">Get Cloxing</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>