<!DOCTYPE html>
<html>
  <head>
  	<% include ./head %>
  </head>
  <body>
    <h1>Timer Page</h1>
    <div id="timer-here"></div>
    <script type="text/javascript" src="../static/main.js" charset="utf-8"></script>
	<% include ./footer %>
  </body>
</html>