<!DOCTYPE html>
<html>
<head>
 <% include ./head %>
</head>
<body>
<header class="header">
  <% include ./header %>
</header>
  <h1>Timer Page</h1>
  <div class="container">
  <div class="col-md-6 col-md-offset-3"
  <div class="row">
  <div id="timer-one" class="col-md-6"></div>
    <div id="timer-two" class="col-md-6"></div>
  </div>
  <% include ./footer %>
<script type="text/javascript" src="./static/main.js"></script>

</body>
</html>