<!DOCTYPE html>
<html>
<head>
 <% include ./head %>
</head>
<body>
  <header class="header">
    <% include ./header %>
  </header>
  <div class="full-photo2" style="background-image: url('./images/ref.jpg')">
    <div class="container-fluid">
    <div id="timers"></div>
    </div>
  </div>
<% include ./footer %>
<script type="text/javascript" src="./static/main.js"></script>

</body>
</html>