<!DOCTYPE html>
<html>
<head>
 <% include ./head %>
</head>
<body>
  <header class="header">
    <% include ./header %>
  </header>
  <div class="container">

    <div id="test"></div>
    <div id="timer-two" class="col-md-6"></div>
  </div>
  <% include ./footer %>
  <script type="text/javascript" src="./static/test.js"></script>

</body>
</html>