<!DOCTYPE html>
<html>
<head>
 <% include ./head %>
</head>
<body>
  <h1>Timer Page</h1>
  <div>
  <div id="timer-one"></div>
    <div id="timer-two"></div>
      <div id="timer-three"></div>
  </div>
  <% include ./footer %>
<script type="text/javascript" src="./static/main.js"></script>

</body>
</html>