<!DOCTYPE html>
<html>
<head>
 <% include ./head %>
</head>
<body>
  <h1>Timer Page</h1>
  <div class="row">
  <div id="timer-one" class="col-md-4"></div>
    <div id="timer-two" class="col-md-4"></div>
      <div id="timer-three" class="col-md-4"></div>
  </div>
  <% include ./footer %>
<script type="text/javascript" src="./static/main.js"></script>

</body>
</html>