body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.75em;
}

a {
  color: #EF569F;
}
a:active {
  color: rgba(167, 169, 172, 0.6);
}
a:hover {
  color: rgba(167, 169, 172, 0.6);
}

h2 {
	font-family: "Anton", sans-serif;
	font-size: 2em;
  padding: 10px;
}
.top-section {
  margin-top: 50px;
  margin-bottom: 50px;
}
.middle-section {
	margin-top: 20px;
	margin-bottom: 40px;
}
.middle-section h2 {
  color: white;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.middle-section h3 {
  color: white;
  font-size: 1.5em;
  text-align: center;
}
.middle-section i {
  color: white;
  padding: 5px;
}
.middle-section p {
  color: white;
}
.header
{
  background: #EF569F;
  position: fixed;
  color: #000;
  width: 100%;
  z-index:9999;

}
div.center{
  text-align: center;
}
div.center p{
  text-align: left;
}
.nav a{
  color: white;
}
.nav a:hover{
  color: #EF569F;
}
.nav a:active{
  color: #EF569F;
}
img.boxshadow {
	height:auto;
	width: 500px;
	box-shadow:  10px 10px 5px #888888;
}
img.round {
  border-radius: 50%;
  width: 140px;
  height:140px;
  overflow:hidden;
  margin-bottom: 10px;
  padding: 0px;
}
.ghost-button-semi-transparent {
  display: inline-block;
  width: 380px;
  height:150px;
  padding: 30px 20px 30px 20px;
  color: white;
  border: 3px solid white;
  margin: 40px 10px;
  font-family: "Anton", sans-serif;
  font-weight: 650px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  background-color: rgba(240, 85, 160, 0.6);
  text-decoration: none;
  transition: background-color 0.2s ease-out,
  border-color 0.2s ease-out;
}
.ghost-button-semi-transparent:hover,
.ghost-button-semi-transparent:active {
  background-color: #EF569F;
  color: rgba(255, 255, 255, 0.8); /* fallback */
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #EF569F; /* fallback */
  border-color: rgba(240, 85, 160, 0.4);
  transition: background-color 0.3s ease-in,
  border-color 0.3s ease-in;
}
.centerButtons {
  margin: 0 auto;
  float: left;
} 
/*PARALLAX IMAGE STYLING*/
.full-photo {	
	background-attachment:fixed;
  background-color: rgba(240, 85, 160, 0.2);
  background-position: top center;
  background-size: cover;
  cursor: default;
  padding: 20px;
  width: 100%;
  float: left;
}
.full-photo:first-child { 
  padding: 160px 0 90px;
}

.full-photo h2 {
  color: white;
  text-align: center;
}
.full-photo2 { 
  background-attachment:fixed;
  background-color: rgba(240, 85, 160, 0.2);
  background-position: top center;
  background-size: cover;
  cursor: default;
  padding: 80px;
  width: 100%;
  float: left;
}
.full-photo2 h2 {
  color: white;
  text-align: center;
}
.full-photo2 h3 {
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 70px;
}
/*CLOCK STYLING*/

.clock-button {
  width: 90%;
  height: 100px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #000;
  text-align: center;
  -moz-box-shadow: inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow: inset 7px 8px 80px rgba(0,0,0, .5);
  cursor: pointer;
  }
.clock-button h2 {
  font-size: 3em;
  font-family: "Anton", sans-serif;
  text-align: center;
  margin:auto;
  color: #FFF;
  text-shadow: 4px 2px 7px rgba(0,0,0, .2);\
}
.clock-button p {
  font-size: 2em;
  font-family: "Anton", sans-serif;
  text-align: center;
  line-height: 1.5;
  margin:auto;
  color: #FFF;
  text-shadow: 4px 2px 7px rgba(0,0,0, .2);\
}
.clock-button:hover{
  opacity: .8;
}
.reset {
  width: 100%;
  /* height: 30px; */
  border-radius: 10px;
  color: white;
  /* margin: 0 auto 10px; */
  text-align: center;
  background-color: #e6e6e6;
  -moz-box-shadow: inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow: inset 7px 8px 80px rgba(0,0,0, .5);
  position: relative;
  bottom: -100px;
  cursor: pointer;
  }

.reset-all {
  width: 95%;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: auto;
  background-color: #e6e6e6;
  -moz-box-shadow: inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow: inset 7px 8px 80px rgba(0,0,0, .5);
  cursor: pointer;
  }
.clock-float {
  width: 83%;
  height: 100px;
  color: rgba(0,0,0,0);
  border-radius: 5%;
  position: absolute;
  margin: 0px ;
  border-color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
}

.clock-float:hover i {
  color: rgba(255,255,255, .35);
  font-size: 1em;
}

.circular-button {
  position: absolute!important;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}

.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .site-heading
{
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading
  {
    padding: 150px 0;
  }
}
.intro-header .site-heading{
  text-align: center;
  max-width: 725px;
  margin: auto;
}
.intro-header .site-heading h1
{
  margin-top: 0;
  font-size: 50px;
  text-shadow: 2px 2px 8px #000;
}
.intro-header .site-heading .subheading {
  font-size: 32px;
  line-height: 1.1;
  text-shadow: 2px 2px 8px #000;
  display: block;
  font-family: 'Anton', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1 {
    font-size: 80px;
  }
}
.intro-header .subheading{
  line-height: 1.1;
  display: block;
}
.intro-header .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header {
  font-family: 'Lora', 'Times New Roman', serif;
  font-weight: 300;
  font-size: 20px;
}
.intro-header a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header h1 {
    font-size: 55px;
  }
  .intro-header .subheading {
    font-size: 30px;
  }
}

